{% extends "base.html" %}

{% block title %}Home - Notes App{% endblock %}

{% block content %}
<h2>Welcome to notes app!</h2>
<p>This is a notes app for storing notes.</p>
<p>Here is the app functionality:</p>
<ul>
    <li><strong>Log in:</strong> Users can log in and log out.</li>
    <li><strong>Add note:</strong> A user can add a note.</li>
    <li><strong>View Notes:</strong> The user can view notes.</li>
    <li><strong>Search:</strong> The user can search for their notes by its title/content.</li>
    <li><strong>Administrators:</strong> Administrators have a secret admin panel.</li>
</ul>

{% endblock %}